body{
    /* text-align: justify; */
    /* background-image: linear-gradient(yellow,green); */
    background-repeat: no-repeat;
    
}

p{
    outline-color: black;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-indent: 20px; */
    /* letter-spacing: 3px; */
    /* word-spacing: 20px; */
    text-shadow: 1px 1px 1px red;
    /* z-index: -1; */


    /* line-height: 1.8; */


    /* direction: rtl; */
    /* unicode-bidi: bidi-override; */

}
p.solid{
    /* outline-style: solid; */
    /* outline-width: 10px; */
}
/* a{
    text-decoration: none;
    color: black;
} */

#one{
    color: red;
}

#two{
    color: pink;
}

h1{
    text-shadow: 2px 2px red;
    /* font-family: 'Tangerine', serif;
    font-style: italic; */

    /* font: 20px Arial, sans-serif; */
    /* font: italic bold Arial; */
}


/* a:link{
    color: black;
} */

/* a:visited{
    color: orangered;
}

a:hover{
    background-color: pink;
} */

/* a:active{
    text-decoration: underline;
} */

a:link, a:visited{
    background-color: purple;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active{
    background-color: rebeccapurple;
}

/* 
div{
    background-color: grey;
    width: 200px;
    height: 80px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: auto;
    float: left;
} */

div.imageGallery{
    margin: 5px;
    float: left;
    border: 1px solid black;
    width: 300px;
}

div.description{
    padding: 5px;
    text-align: center;
}



#back{
    background-image: url(../images/dog.jpg);
    display: block;
    z-index: 1;
}

